/*.uwc
*/*.uwc
*/*/*.uwc

/*.tws
*/*.tws
*/*/*.tws

/*.aut.txt
*/*.aut.txt
*/*/*.aut.txt

*/RegrTest/Log/*
*/RegrTest/Log/*/*
*/RegrTestBL600/Log/*
*/RegrTestBL600/Log/*/*

StringPlayer*.exe
AppVirtualSerialPort/$autorun$.vsp.uart.bridge.configurable.incoming-*.sb
ATinterface/$autorun$.AT.interface.0*.sb
ATinterface/$TEMP$.vsp.uart.bridge.configurable.incoming.sb

LowPowerVspUartBridge/LowPowerVspUartBridge*.zip
LowPowerVspUartBridge/LowPowerVspUartBridge.pdf
LowPowerVspUartBridge/*.uwc
